<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Portfolio Page</title>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
</head>
  <body>

	  <nav class = "header-container affix">
      <div class = "header">
        <p style = "align-self: center;">Umesh Poswal</p>
		  <ul class = "menu">
		    <li><a href ="#about" id = "0" onclick = 'backColor("#0")'>About</a></li>
		    <li><a href ="#projects" id = "1" onclick = 'backColor("#1")'>Projects</a></li>
		    <li><a href ="#contact" id = "2" onclick = 'backColor("#2")'>Contact</a></li>
		   </ul>
      </div>
	  </nav>

    <div id ="about" class = "container">
      <div class = "heading">HELLO!</div>
      <hr><br> 
      <div class = "proImg">
      <img src = "https://cdn.glitch.com/6a56c8ac-4c01-4dcf-9665-cde1a33498b7%2FIMG_118.JPG?1504281385909" alt = "Yeah, that's me"/> 
      </div>
      <p class="Mtext">Hi! I am <strong>Umesh Poswal</strong>, an undergrad from 
        Indian Institute of Technology Bhubaneswar(a.k.a <strong>IIT BBS</strong>).
      <br><br>I am a <strong>Computer Science and Engineering</strong> major. 
        Have a great acedemic reputation and strong command on both front and back end development.
      </p>
    </div>

		  <div id="projects" class = "container">
			  <div class = "heading">PROJECTS</div>
        <hr><br>
        <div class = "project-info">
		    <figure class="effect-portfolio">
            <img src="https://cdn.glitch.com/6a56c8ac-4c01-4dcf-9665-cde1a33498b7%2Fwiki.png?1504279001842" alt="Wikipedia Search Service">
            <figcaption>
              <h2><span>Wiki Search</span></h2>
              <p>Wikipedia search service.
              </p>
              <a href="https://codepen.io/u-me/full/gRyMBQ" target='_blank'>View more</a>
            </figcaption>
          </figure>
          
          
		    <figure class="effect-portfolio">
            <img src="https://cdn.glitch.com/6a56c8ac-4c01-4dcf-9665-cde1a33498b7%2Fpomodoro.png?1504278993220" alt="Pomodoro Clock">
            <figcaption>
              <h2><span>Pomodoro </span>Clock</h2>
              <p>Custumizable Pomodoro clock.
              </p>
              <a href="https://codepen.io/u-me/full/RZbOLg" target='_blank'>View more</a>
            </figcaption>
          </figure>
          
          
          
		    <figure class="effect-portfolio">
            <img src="https://cdn.glitch.com/6a56c8ac-4c01-4dcf-9665-cde1a33498b7%2Ftictac.png?1504278807580" alt="Tic Tac Game">
            <figcaption>
              <h2><span>Tic Tac</span></h2>
              <p>Tic Tac Toe Game with built in AI.
              </p>
              <a href="https://u-n-me.github.io/tic-tac/" target='_blank'>View more</a>
            </figcaption>
          </figure>
          
          
		    <figure class="effect-portfolio">
            <img src="https://cdn.glitch.com/6a56c8ac-4c01-4dcf-9665-cde1a33498b7%2Fsimon.png?1504278999818" alt="Simon Game">
            <figcaption>
              <h2><span>Simon </span>Game</h2>
              <p>Simon's Game.
              </p>
              <a href="https://u-n-me.github.io/simon/" target='_blank'>View more</a>
            </figcaption>
          </figure>
          
          
		    <figure class="effect-portfolio">
            <img src="https://cdn.glitch.com/6a56c8ac-4c01-4dcf-9665-cde1a33498b7%2Fvoting.png?1504278808408" alt="Voting App">
            <figcaption>
              <h2><span>Pooling/ Voting </span>App</h2>
              <p>Create poll, vote for polls and much more...
              </p>
              <a href="https://poll-here.glitch.me/" target='_blank'>View more</a>
            </figcaption>
          </figure>         
		    
          
		    <figure class="effect-portfolio">
            <img src="https://cdn.glitch.com/6a56c8ac-4c01-4dcf-9665-cde1a33498b7%2Fcalculator.png?1504278849140" alt="Claculator, designed using JS">
            <figcaption>
              <h2><span>Calculator</span></h2>
              <p>A calculator designed using JS.
              </p>
              <a href="https://codepen.io/u-me/full/brbYRq" target='_blank'>View more</a>
            </figcaption>
          </figure>
          
          
		    <figure class="effect-portfolio">
            <img src="https://cdn.glitch.com/6a56c8ac-4c01-4dcf-9665-cde1a33498b7%2Fweather.png?1504278812188" alt="Weather App">
            <figcaption>
              <h2><span>Weather </span>App</h2>
              <p>Get your local weather reports.
              </p>
              <a href="https://codepen.io/u-me/full/VWRPEG" target='_blank'>View more</a>
            </figcaption>
          </figure>
        </div>
		  </div>
		
		  <div id="contact" class = "container">
        <div class = "heading">CONTACT ME</div>
        <hr><br> 
		    <div class = "contact-details">
				  <div class = "myFormStyle">
					  <p>Contact Me</p>
					  <form action = "mailto:nakamume@gmail.com" method = "post">
						  <input type="text" name="nameField" placeholder="Your Name" required><br>
						  <input type="email" name="emailField" placeholder="Email Address" required><br>
						  <textarea name="message" placeholder="Type your Message" required></textarea><br>
						  <button class = "btn"  type="submit" value="Send"><i class="fa fa-paper-plane"></i> SUBMIT</button>
					  </form>
			    </div>
			
			    <div class = "Mtext">
				    <p>Well, I may not be a very busy guy. But I am a busy one. So mail me if that is really important.</p>
				    <br>
				    <br>
				    <p>Please do not send spams and other irrelevent stuff as that won't make any sense to me.</p>			   
			    </div>
		    </div>  
		  </div>
	   
	  <!--  Some more contact details -->
	  <footer>
	      <div>		  
			    <h1>About this page</h1><br>
			    <p>Made with <i class = "fa fa-coffee"></i> and
				    <i class = "fa fa-music"></i>
			  </p>
			  </div>
		    <div>
			    <h1>About Me</h1>
			    <p>
				    <a href = "https://www.linkedin.com/in/umesh-poswal-101a18b0/" target = "_blank"><button class = "btn btn-primary btn-circle"><i class = "fa fa-linkedin" style = "font-size:30px;"></i></button></a> 
				    <a href = "https://www.facebook.com/nakamume/" target = "_blank"><button class = "btn btn-info btn-circle"><i class = "fa fa-facebook" style = "font-size:28px;"></i></button></a>            
				    <a href = "https://github.com/U-n-Me/" target = "_blank"><button class = "btn btn-circle btn-primary"><i class = "fa fa-github" style = "font-size:30px;"></i></button></a>
           </p>
		  </div>
	  </footer>

    
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script>function backColor(id){
        $('.menu a').css({background: "none"});
        $(id).css({background: "#999"});
        }
    </script>  
  </body>
</html>